@page "/Gendir"

<link href="/css/Gendir.css" rel="stylesheet" type="text/css">

<PageTitle>Выбор профиля для презентации</PageTitle>

<NavMenu />

        <link href="/css/menu.css" rel="stylesheet" type="text/css">

        <div class="container task_form">
    
            <div class="row">

                <div>

                    <p class="area1">Объект: ЖК "Авангард</p>
                    <p class="area2">Монтаж лестничных маршей</p>
                    <p class="area3">Выполнил: Подрядчик ООО "Спецстрой</p>
                    <p class="area4">Проверено: контролер ОТК, Иванов А.Д</p>
                    <p class="area5">Подтверждено: нач. ОТК,  Петров Т.П</p>

                </div>

            </div>

            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
                    <button class="button btn-red">Отказать</button>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
                    <button class="button btn-green">Оплатить</button>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
                    <button class="button btn-blue">Отложить</button>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">
                    <button class="button btn-purple">Подробности</button>
                </div>

            </div>

        </div>

@code{
    
    protected override async Task OnInitializedAsync()
    {
        
    }
}
