@page "/"
@inject NavigationManager navigation


<PageTitle>Выбор профиля для презентации</PageTitle>


        <link href="/css/loginPage.css" rel="stylesheet" type="text/css">

        <div class="container">


                
                <button class="btn btn_choice"  @onclick="Gendir">Генеральный Директор</button>
                <button class="btn btn_choice"  @onclick="Rukproekta">Руководитель проекта</button>
                <button class="btn btn_choice"  @onclick="Brigadir">Бригадир</button>
                <button class="btn btn_choice"  @onclick="Raboch">Рабочий</button>

        </div>

@code{
    private void Rukproekta()
    {
        navigation.NavigateTo("/Rukproekta");
    }

    private void Gendir()
    {
        navigation.NavigateTo("/Gendir");

    }

    private void Raboch()
    {
        navigation.NavigateTo("/Raboch");
    }

    private void Brigadir()
    {
        navigation.NavigateTo("/Brigadir");
    }


}
