@page "/Jobs"

<link href="/css/jobs.css" rel="stylesheet" type="text/css">

<PageTitle>Главная</PageTitle>


        <link href="/css/menu.css" rel="stylesheet" type="text/css">

        <div class="container">

            <h4>Задания</h4>

                <div class="row block"> 
                    
                    <div class="col-12">

                        <div class="row">
                            <div class="col-9">
                                <p>Вырыть траншею <span class="red">100м</span></p>
                            </div>
                            <div class="col-3">
                                <b class="accordion-body">1000 ₽</b>
                            </div>
                        </div>
                        
                        
                        <br />
                        <p class="light_grey">От левого до правого края</p>
                        <p class="green">10 р за метр</p>

                    </div>

                </div>

                <div class="row block"> 
                    
                    <div class="col-12">

                        <div class="row">
                            <div class="col-9">
                                <p>Поставить опалубку <span class="red">100м</span></p>
                            </div>
                            <div class="col-3">
                                <b class="accordion-body">2000 ₽</b>
                            </div>
                        </div>
                        
                        
                        <br />
                        <p class="light_grey">От левого до правого края</p>
                        <p class="green">20 р за метр</p>

                    </div>

                </div>

        </div>

        <button class="btn btn-danger">Начать рабочий день</button>
