@page "/Profile"

<link href="/css/profile.css" rel="stylesheet" type="text/css">

<PageTitle>Главная</PageTitle>


        <link href="/css/menu.css" rel="stylesheet" type="text/css">

        <div class="container">

                <div class="row block"> 
                    
                    <div class="col-12">

                        <div>
                            <img src="img/accountImg.svg" class="userImg"/>
                            <img src="img/editIcon.svg" class="editImg"/>
                        </div>
                        
                        <h4>Шаповалова Арина</h4>

                        <div class="rating">

                            <span class="stars">
                                <img src="img/star.svg" class="accountImg dropdown_icon"/>
                                <img src="img/star.svg" class="accountImg dropdown_icon"/>
                            </span>
                            <b class="dark_grey">2</b>

                        </div>

                        <div class="skills">
                            <h4>Навыки</h4>
                            <p>Сварщик</p>
                        </div>
                        

                    </div>

                </div>

        </div>
