@page "/WorkDay"

<link href="/css/workDay.css" rel="stylesheet" type="text/css">

<PageTitle>Главная</PageTitle>


        <link href="/css/menu.css" rel="stylesheet" type="text/css">

        <div class="container">

                <div class="row block"> 

                    <h4 class="dayStarted">Рабочий день начат!</h4>
                    
                    <div class="col-12">
                        
                        <div>
                            <img src="img/geoIcon.svg" class="inline_elem"/>
                            <p class="inline_elem">Место работы Сегодня: Литер А, Литер К</p>
                        </div>
                        
                        <div>
                            <p class="inline_elem black_area">Ваш бригадир</p>
                            <p class="inline_elem white_area">Иванок Кристиан Иосивович</p>
                        </div>

                        <div>
                            <p class="inline_elem green_area">Статус доступа</p>
                            <p class="inline_elem white_area">Вы допущены к работе</p>
                        </div>

                        <h4>В вашей бригаде:</h4>

                        <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <td>Мансур</td>
                                <td>89628523456</td>
                              </tr>
                              <tr>
                                <td>Катхан</td>
                                <td>87657654343</td>
                              </tr>
                              <tr>
                                <td>Петро</td>
                                <td>87776665566</td>
                              </tr>
                            </tbody>
                          </table>

                    </div>

                </div>

        </div>
