@inherits LayoutComponentBase

<PageTitle>Hakaton</PageTitle>

<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />

<link href="/css/common.css" rel="stylesheet" type="text/css">
<link href="/css/menu.css" rel="stylesheet" type="text/css">

<div class="page">
    @*<div class="sidebar">
       @* <NavMenu />*@
    @*</div>*@

    <main>
        <div class="top-row px-4 auth">
            <a href="/books" target="/books">Справочники</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
