.task_form{
    background: #fff;
    padding: 30px;
    border-radius: 45px;
    width: 50%;
    margin-top: 80px;
}

.button {
    border-radius: 86px;
    border: 0px;
    padding: 10px 0 10px 0;
    width: 200px;
    color: white;
    margin-top: 10px;
}

.btn:hover {
    color: white;
}

.btn-red {
    background: #FF0000;
}

.btn-green {
    background: #34A853;
}

.btn-blue {
    background: #01B8E3;
}

.btn-purple {
    background: #bc6bff;
}

.red {
    color: rgba(181, 0, 0, 1);
}

.green {
    color: rgba(52, 168, 83, 1)
}

.area1 {
    font-weight: bold;
    color: #A4B4CB;
    text-align: right;
}

.area2 {
    font-weight: bold;
}

.area5{
    margin-bottom: 20px;
}

@media screen and (max-width: 1100px) {
    .task_form {
        width: 100%;
    }
}