.rating {
    text-align: center;
    margin-top: 20px;
}

.rating > b, .rating > p, .rating > span {
    text-align: center;
}

.stars > img{
    display: inline-block;
    margin: 0px;
}

.light_grey {
    color: #A4B4CB;
}

.dark_grey {
    color: #5B5B5B;
}

.block {
    display: block;
    margin: 30px auto 30px auto;
    padding: 10px;
    width: 50%;
    background: linear-gradient(0deg, #FAFBFC, #FAFBFC), linear-gradient(90deg, rgba(240, 240, 240, 0.2) 0%, rgba(240, 240, 240, 0) 100%);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.money{
    font-size: 45px;
}

.today_plans {
    font-size: 25px;
}

.task > p {
    margin-top: 25px;
    display: inline-block;
}

.complete_task{
    margin-top: 15px;
}

.complete_task > p {
    display: inline-block;
}

.completeIcon {
    display: inline-block;
    width: 35px;
    margin-left: 10px;
}

.btn-danger {
    background: #FF001C;
    box-shadow: 0px 8px 22px rgba(255, 0, 0, 0.3);
    border-radius: 86px;
    padding: 10px 0 10px 0;
    width: 40%;
    position: fixed;
    top: 90%;
    left: 30%;
}

@media screen and (max-width: 1100px) {
    .block {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .block {
        width: 100%;
    }
}
