@page "/BookMeteo"
@layout RukLayout 


<link href="/css/profile.css" rel="stylesheet" type="text/css">

<PageTitle>Выбор профиля для презентации</PageTitle>


        <link href="/css/menu.css" rel="stylesheet" type="text/css">

        <div class="container">

                
                

        </div>

@code{
    
    protected override async Task OnInitializedAsync()
    {
        
    }
}
